$violeta : #650467;
$violeta_transparent : #650467bd;
$orange : #f89c11;
$gray: #c3c3c3;

body {
    position: relative;
}

#header {
    height: 68px;
    width: 100%;
    background-color: $violeta;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    // position: fixed;

    #logo {
        height: 45px;
    }

    .wrap {
        display: flex;
        align-items: center;

        nav {
            ul {
                display: flex;

                li {
                    // display: inline;
                    padding: 10px 8px;
                    transition: all .5s;
                    border-radius: 5px;

                    &:hover {
                        background-color: #b354b4;
                    }

                    a {
                        color: rgb(255, 255, 255);
                    }

                }
            }
        }

        #assine-ja {
            background-image: linear-gradient(to right, #AA076B 0%, #61045F 51%, #AA076B 100%);

            padding: 10px 18px;
            margin: 0 5px;
            border-radius: 50px;
            color: white;
            font-weight: bold;
            border: 1px solid white;
        }
    }
}

#main {

    .start_row {
        background: linear-gradient(0deg, $violeta, #65046761), url("../img/2903170.jpg");
        background-repeat: no-repeat;
        background-size: cover;

        display: flex;
        flex-direction: row;

        height: calc(100vh - 68px);
        max-height: 1500px;

        .start_col {
            padding: 20px;
            width: 50%;
        }

        #col_1 {
            color: white;
        }
    }

    // #slides-wrap {
    //     height: 600px;
    //     overflow: hidden;
    //     // position: relative;

    //     #slides {
    //         padding-top: 66px;
    //         display: flex;
    //         // width: calc(100vw * 3);
    //         height: 100%;
    //         // position: absolute;
    //         left: 0px;

    //         .slide {
    //             width: 100vw;
    //             height: 100%;

    //         }

    //         #slide-1 {
    //             background-color: white;
    //         }

    //         #slide-2 {
    //             background-color: aqua;
    //         }

    //         #slide-3 {
    //             background-color: white;
    //         }
    //     }
    // }

    #vantagens {
        background-color: white;

        header {
            display: flex;
            justify-content: center;
            padding: 60px 0;

            .text {

                display: flex;
                flex-direction: column;
                align-items: flex-end;

                h1 {
                    color: #0000;
                    -webkit-text-stroke: 2px $orange;
                    font-weight: 800;
                    line-height: 1;
                    font-size: 50px;
                }

                h2 {
                    color: $violeta;
                    font-size: 35px;
                }
            }
        }

        #vant-itens {
            margin-bottom: 50px;

            display: flex;
            flex-direction: row;
            padding: 0 20px;

            .vant-iten-group {
                display: flex;
                justify-content: space-around;
                align-items: center;
                width: 100%;

                .vant-iten {
                    height: 150px;
                    width: 50%;
                    // max-width: 200px;
                    margin: 5px;
                    padding: 30px 10px;
                    border-radius: 30px;
                    color: white;
                    transition: all .4s;

                    background: rgb(248, 156, 17);
                    background: linear-gradient(180deg, rgba(248, 156, 17, 1) 13%, rgba(101, 4, 103, 0.7734691288624824) 100%);

                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    i {
                        font-size: 40px;
                    }

                    p {
                        margin-top: 20px;
                        text-align: center;
                        font-size: 20px;
                    }

                    &:hover {
                        scale: 1.04;
                    }
                }
            }
        }
    }

    #empresas {
        background: linear-gradient(0deg, $violeta, $violeta_transparent), url("../img/group-diverse-people-having-business-meeting.jpg");
        background-repeat: no-repeat;
        background-size: cover;

        header {
            display: flex;
            justify-content: center;
            padding: 60px 0;

            .text {

                display: flex;
                flex-direction: column;
                align-items: flex-end;

                h1 {
                    color: #0000;
                    -webkit-text-stroke: 2px #FFF;
                    font-weight: 800;
                    line-height: 1;
                    font-size: 50px;
                }

                h2 {
                    color: white;
                    font-size: 35px;
                }
            }
        }

        p {
            padding: 60px 50px;
            text-align: center;
            font-size: 40px;
            color: white;
        }

        #btn-saiba-mais {
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;

            a {
                border: 2px solid white;
                color: rgb(255, 255, 255);
                padding: 10px 25px;
                transition: all .5s;
                border-radius: 50px;
                margin-bottom: 60px;
                font-size: 20px;

                background: rgb(101, 4, 103);
                background: linear-gradient(140deg, $violeta 0%, $violeta_transparent 87%);

                &:hover {
                    // background-color: #660467;
                    scale: 1.09;
                }
            }
        }
    }
}

#footer {
    background-color: #2a2a2a;
    color: $gray;
    display: flex;

    .row {
        display: flex;
        width: 100%;

        .col {
            position: relative;
            padding: 20px 15px;
            min-height: 200px;
            width: 100%;

            .title {
                font-weight: bold;
                font-size: 22px;
                margin-bottom: 5px;

                &::before {
                    color: #b354b4;
                    content: "|";
                    height: 10px;
                    width: 3px;
                    font-size: 20px;
                }
            }

            .body {
                width: 100%;
                padding: 10px;

                .title_2 {
                    margin-bottom: 10px;
                }

                a {
                    font-size: 18px;
                    color: $gray;
                    &.hover{
                        color: white;
                    }
                }

                .social {
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    height: 200px;

                    i {
                        font-size: 40px;
                    }

                }
            }
        }
    }

    @media (max-width: 750px) {}
}

#footer-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $gray;
    background-color: #212529;
    height: 30px
}

@media (max-width: 1250px) {
    #footer {
        flex-direction: column;
    }
}

@media (max-width: 980px) {
    #main {
        .start_row {
            display: flex;
            flex-direction: column;

            .start_col {
                width: 100%;
            }
        }

        #vantagens {
            #vant-itens {
                flex-direction: column;
            }
        }
    }

}

@media (max-width: 750px) {
    #header {
        .wrap {
            nav {
                display: none;
            }
        }
    }

    #footer {
        justify-content: center;

        .row {
            flex-direction: column;
            justify-content: center;

            .col {
                width: 100%;
                padding: 20px 30px;

                &.col {
                    border-bottom: 1px solid $gray;
                }
            }
        }
    }
}