#home-page {
    >main {
        .section {
            width: 100%;
            height: 100vh;
        }
        #section_01 {
            background-color: aqua;
            /*  */
        }
        #section_02 {
            background-color: rgb(0, 255, 128);
            /*  */
        }
        #section_03 {
            background-color: rgba(246, 253, 108, 0.857);
            /*  */
        }
        #section_04 {
            background-color: rgb(255, 95, 95);
            /*  */
        }
        #section_05 {
            background-color: rgb(162, 112, 242);
            /*  */
        }
    }
}