$violeta : #650467;
$violeta_transparent : #650467bd;
$orange : #f89c11;

#planos {
    background-color: $orange;

    header {
        display: flex;
        justify-content: center;
        padding: 40px 0;

        .text {
            display: flex;
            flex-direction: column;
            align-items: flex-end;

            h1 {
                color: #0000;
                -webkit-text-stroke: 2px #FFF;
                font-weight: 800;
                line-height: 1;
                font-size: 50px;
            }

            h2 {
                color: $violeta;
                font-size: 35px;
            }
        }
    }

    main {
        padding: 20px 0px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;

        .card_row {
            display: flex;
            align-items: center;
            justify-content: space-around;
            width: 50%;

            .card_wrap {
                height: 350px;
                width: 255px;
                max-width: 255px;
                background-color: #ffffff;
                border-radius: 10px;
                overflow: hidden;
                -webkit-box-shadow: 2px 1px 10px 1px rgba(0, 0, 0, 0.83);
                box-shadow: 2px 1px 10px 1px rgba(0, 0, 0, 0.83);
                margin: 10px;

                .card_header {
                    height: 90px;
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    justify-content: center;
                    color: white;
                    height: 120px;

                    /* gradiente */
                    background: rgb(248, 156, 17);
                    background: linear-gradient(155deg, rgba(248, 156, 17, 0.8345623230666257) 4%, rgba(101, 4, 103, 1) 98%);

                    .megas {
                        font-size: 50px;
                        font-family: "Poppins", Montserrat;
                        font-weight: bold;
                    }

                    hr {
                        height: 2px;
                        width: 60%;
                        background-color: #f89c11;
                    }

                    .word {
                        margin-top: 3px;
                        font-family: "Poppins", Montserrat;
                    }

                }

                .card_price {
                    // height: 80px;
                    // display: flex;
                    // align-items: center;
                    // justify-content: center;
                    // font-family: "Lato", Montserrat;
                    // color: #333333;
                    display: none;
                }

                .card_vantages {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-around;
                    // height: calc(100% - 120px - 80px);
                    height: calc(100% - 120px - 30px);
                    background-color: white;
                    // background-color: rebeccapurple;
                    margin-bottom: 0px;

                    span {
                        color: #333333;

                        // font-weight: 300;
                        i {
                            color: $orange;
                        }
                    }
                }

                .card_zap {
                    height: 30px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: white;
                    position: absolute;
                    // background-color: rebeccapurple;
                    width: 255px;

                    a {
                        padding: 7px 20px;
                        background-color: #25D366;
                        border-radius: 15px;
                        transform: translateY(10px);
                        // position: absolute;
                    }
                }
            }
        }
    }
}

@media (max-width: 1100px) {
    #planos {
        main {
            // background-color: #4af51f;
            flex-direction: column;

            .card_row {
                width: 100%;

                // .card_wrap {
                //     .card_header {}

                //     .card_price {}

                //     .card_vantages {}
                // }
            }
        }
    }
}

@media (max-width: 550px) {
    #planos {
        main {
            .card_row {
                flex-direction: column;

                // .card_wrap {
                //     .card_header {}

                //     .card_price {}

                //     .card_vantages {}
                // }
            }
        }
    }
}