#header {
    height: 66px;
    background-color: #650467bd;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;

    #logo {
        height: 45px;
    }

    #wrap-1 {
        display: flex;
        align-items: center;

        nav {
            ul {
                li {
                    display: inline;
                    // font-weight: bold;

                    a {
                        color: rgb(255, 255, 255);
                        padding: 10px 8px;
                        transition: all .5s;
                        border-radius: 5px;

                        &:hover {
                            background-color: #660467;
                        }
                    }
                }
            }
        }

        #assine-ja {
            background: radial-gradient(100% 742.83% at 0% 0%, #660467 0%, rgba(102, 4, 103, 0.6) 100%);
            padding: 10px 8px;
            margin: 0 5px;
            border-radius: 50px;
            color: white;
            font-weight: bold;
            border: 1px solid white;
        }
    }
}

#main {
    #slides-wrap {
        height: calc(100vh - 66px);
        overflow: hidden;
        position: relative;

        #slides {
            display: flex;
            width: calc(100vw * 3);
            height: calc(100vh - 66px);
            position: absolute;
            left: 0;

            .slide {
                width: 100vw;
                height: 100%;
                padding: 8px 10px;
            }

            #slide-1 {
                background-color: #676504;
            }

            #slide-2 {
                background-color: aqua;
            }

            #slide-3 {
                background-color: aliceblue;
            }
        }
    }

    #planos {
        background-color: rebeccapurple;
        height: 100vh;
        padding: 8px 10px;
    }

    #vantagens{
        background-color: tomato;
        height: 100vh;
        padding: 8px 10px;
    }

    #sua-empresa{
        background-color: #448f76;
        height: 100vh;
        padding: 8px 10px;
    }
}

#footer-1 {
    background-color: #3a1ddc;
    height: 250px;
    padding: 8px 10px;
}

#footer-2 {
    background-color: #448f76;
    height: 50px;
    padding: 8px 10px;
}