* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    outline: none;
    font-family: 'SF Pro Display', sans-serif;
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
    // scroll-padding-top: 68px;
}

a,
a:link,
a:visited,
a:hover {
    text-decoration: none;
    color: inherit;
}

/* scrollbar */
::-webkit-scrollbar {
    width: 11px;
    height: 11px;
}

::-webkit-scrollbar-thumb {
    background: #f89c11b9;
    border-radius: 30px;
}

::-webkit-scrollbar-thumb:hover {
    background: #f89c11;
}

::-webkit-scrollbar-track {
    background: #c3c3c3;
    border-radius: 0px;
    box-shadow: inset 0px 0px 0px 0px #c3c3c3;
}